

@using PuneUniversityVotingSystem.Models
@model IndexVM
@{
    ViewBag.Title = "Admin";
}

@foreach (var questions in Model.Questions)
{
    <h1>@questions.Question</h1>
    <h2>Options</h2>
    @foreach (var options in Model.Options)
    {
        <h1>@options.OptionName</h1>
        <h1>@options.OptionName</h1>
    }
}

